<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
</head>
<body>
<div class="row">
<a href="{% url 'pagerank' %}" class="btn btn-primary">Run Pagerank</a>
<a href="{% url 'degreecentrality' %}" class="btn btn-primary">Run Degree Centrality</a>
</div>
</body>
</html>
